<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hire_me_test">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hire_me_test"
        tools:targetApi="31">
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ViewProfileActivity"
            android:exported="false" />
        <activity
            android:name=".WorkerReviewActivity"
            android:exported="false" />
        <activity
            android:name=".ApplicantDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ApplicantsActivity"
            android:exported="false" />
        <activity
            android:name=".EmployerJobsActivity"
            android:exported="false" />
        <activity
            android:name=".JobListActivity"
            android:exported="false" />
        <activity
            android:name=".FindJobEmpActivity"
            android:exported="false" />
        <activity
            android:name=".ResetRequestActivity"
            android:exported="false" />
        <activity
            android:name=".PostJobActivity"
            android:exported="false" />
        <activity
            android:name=".CompanyRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- App Activities -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".FindJobActivity"
            android:exported="false" />
        <activity
            android:name=".GiveJobActivity"
            android:exported="false" />
        <activity
            android:name=".EmpProfileActivity"
            android:exported="false" />
    </application>

</manifest>