<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hire_me_test">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hire_me_test"
        tools:targetApi="31">
        <activity
            android:name=".view.actvities.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".view.actvities.WithdrawRequestActivity"
            android:exported="false" />
        <activity
            android:name=".view.actvities.VaultActivity"
            android:exported="false" />
        <activity
            android:name=".view.actvities.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.actvities.AddMealActivity"
            android:exported="false" />
        <activity
            android:name=".view.actvities.OrderFoodActivity"
            android:exported="false" />
        <activity
            android:name=".view.actvities.ViewProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.actvities.WorkerReviewActivity"
            android:exported="false" />
        <activity
            android:name=".view.actvities.ApplicantDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.actvities.ApplicantsActivity"
            android:exported="false" />
        <activity
            android:name=".view.actvities.EmployerJobsActivity"
            android:exported="false" />
        <activity
            android:name=".view.actvities.JobListActivity"
            android:exported="false" />
        <activity
            android:name=".view.actvities.FindJobEmpActivity"
            android:exported="false" />
        <activity
            android:name=".view.actvities.ResetRequestActivity"
            android:exported="false" />
        <activity
            android:name=".view.actvities.PostJobActivity"
            android:exported="false" />
        <activity
            android:name=".view.actvities.CompanyRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.actvities.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.actvities.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".view.actvities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- App Activities -->
        <activity
            android:name=".view.actvities.MainActivity"
            android:exported="true" />
        <activity
            android:name=".view.actvities.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".view.actvities.FindJobActivity"
            android:exported="false" />
        <activity
            android:name=".view.actvities.GiveJobActivity"
            android:exported="false" />
        <activity
            android:name=".view.actvities.EmpProfileActivity"
            android:exported="false" />
    </application>

</manifest>